html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  color: #070f2b;
}

p {
  color: #1b1a55;
}

body {
  font-family: "Lato", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-style: normal;
  margin: 0px;
  background-color: #f6f5f2;
  overflow-x: hidden;
}

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.brand-logo img {
  height: 50px;
  width: 50px;
}

.brand-logo h3 {
  font-weight: 600;
  font-size: 18px;
  color: #eeeeee;
  text-align: center;
  margin-bottom: 0px;
  margin-left: 10px;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #9290c3;
}

.nav-item a {
  font-weight: 600;
  color: #070f2b;
}
.nav-item a:hover {
  color: #9290c3;
  transition: 0.3s ease;
}

.nav-item i {
  font-weight: 600;
  color: #070f2b;
}
.nav-item i:hover {
  color: #9290c3;
  transition: 0.3s ease;
}

.offcanvas-title {
  font-weight: 600;
  color: #070f2b;
  font-size: 18px;
}

.placeholder-custom {
  font-weight: 600;
  color: #070f2b;
}

.placeholder-custom:hover {
  color: #9290c3;
  transition: 0.3s ease;
}

@media (max-width: 991.98px) {
  .custom-align-left-sm-md {
    align-items: flex-start !important;
  }
  .placeholder-custom {
    text-decoration: none;
    padding-top: 5px;
  }
}

#banner {
  margin-top: 60px;
}

#carouselExampleAutoplaying {
  max-width: 100%;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

/* 
BRANDS OF THE DAY */
#brands-of-the-day {
  padding: 6vw 4vw 0 4vw;
}

#brands-of-the-day h3 {
  font-weight: 600;
  text-align: center;
}

#brands-of-the-day .brands-of-the-day-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(311px, 1fr));
  grid-gap: 0.75rem;
  margin-top: 15px;
  justify-items: center;
}

#brands-of-the-day .brands-of-the-day-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  width: 321px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.brands-of-the-day-card:hover {
  transform: scale(1.05); /* Scale up the card on hover */
}

#brands-of-the-day .brands-of-the-day-card img {
  width: 321px;
  height: 150px;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.brands-of-the-day-card .brand-of-the-day-card-details {
  background-color: white;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
}

.brands-of-the-day-card .brand-of-the-day-card-details p {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0px;
  padding: 5px;
}

/* TRENDING PRODUCTS */

#trending-products {
  padding: 6vw 4vw 0 4vw;
}

#trending-products h3 {
  font-weight: 600;
  text-align: center;
}

.trending-products-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 0.75rem;
  margin-top: 15px;
}

.trending-product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.trending-product-card:hover {
  transform: scale(1.05); /* Scale up the card on hover */
}

.trending-product-card img {
  width: 200px;
  height: 180px;
  object-fit: contain;
  object-position: bottom;
}

.trending-product-details {
  background-color: white;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
}

.trending-product-details p {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0px;
  padding: 5px;
}

/* TOP PICKS OF THE DAY */
#top-picks-of-the-day {
  padding: 6vw 4vw 0 4vw;
}

#top-picks-of-the-day h3 {
  font-weight: 600;
  text-align: center;
}

.top-picks-of-the-day-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 0.75rem;
  margin-top: 15px;
}

.top-picks-of-the-day-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.top-picks-of-the-day-card:hover {
  transform: scale(1.05); /* Scale up the card on hover */
}

.top-picks-of-the-day-card img {
  width: 250px;
  height: 200px;
  object-fit: contain;
  object-position: bottom;
}

.top-picks-of-the-day-card-details {
  background-color: white;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
}

.top-picks-of-the-day-card-details p {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0px;
  padding: 5px;
}

/* SUPER SALE OFFER */
#super-sale-offer {
  padding: 6vw 5vw 0 5vw;
}

#super-sale-offer h3 {
  font-weight: 600;
  text-align: center;
}

.super-sale-offer-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 0.75rem;
  margin-top: 40px;
}

.super-sale-offer-card img {
  width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

footer {
  margin-top: 6vw;
  padding: 4vw;
  background-color: #1b1a55;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

footer .footer-col {
  padding-bottom: 40px;
  padding-right: 10px;
}

footer h3 {
  color: rgb(241, 240, 245);
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 1.3rem;
}

footer li {
  list-style: none;
  color: #9290c3;
  padding: 10px 0;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 600;
}

footer li:hover {
  color: rgb(241, 240, 245);
  transition: 0.3s ease;
}

footer p {
  color: #9290c3;
  font-weight: 600;
}

footer .subscribe {
  margin-top: 20px;
}

footer input {
  width: 220px;
  padding: 15px 12px;
  background: rgb(241, 240, 245);
  border: none;
  outline: none;
  color: rgb(241, 240, 245);
}

footer .subscribe a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 12px 15px;
  font-weight: 600;
}

footer .subscribe a.subscribe-btn {
  color: white;
  background-color: #9290c3;
  transition: 0.3s ease;
}

footer a.subscribe-btn:hover {
  color: #1b1a55;
  background: white;
}

footer .copyright {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

footer .copyright .social-links {
  margin-top: 0px;
}

footer .copyright .social-links i {
  padding: 10px 13px;
  margin-right: 10px;
  border: 1px solid #9290c3;
  cursor: pointer;
  background-color: #9290c3;
}

footer .copyright .social-links i:hover {
  background-color: rgb(248, 248, 248);
  color: rgb(29, 37, 35);
  border: 1px solid #9290c3;
  cursor: pointer;
}

/* SHOP PAGE */

.shop-banner-row img {
  max-width: 100%;
  height: auto;
  margin-top: 4rem;
}

/* OUR PRODUCTS */

#our-products {
  padding: 6vw 4vw 0 4vw;
}

#our-products h3 {
  font-weight: 600;
  text-align: center;
}

.our-products-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(349px, 1fr));
  grid-gap: 0.5rem;
  margin-top: 15px;
  justify-items: center;
}

.our-product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.our-product-card:hover {
  transform: scale(1.05);
}

.our-product-card img {
  width: 250px;
  height: 170px;
  margin: 24px 24px 0 24px;
  /* object-fit: contain; */
  /* object-position: bottom; */
}

.our-product-details {
  background-color: white;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 24px;
}

.our-product-details p {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0px;
  padding: 10px;
}

.our-product-details a {
  background-color: #535c91;
  padding: 8px;
  color: white;
  width: 100px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  border-radius: 5px;
  margin: auto;
}

/* HAVE YOU TRIED */

#have-you-tried {
  padding: 6vw 4vw 0 4vw;
}

#have-you-tried h3 {
  font-weight: 600;
  text-align: center;
}

.have-you-tried-row {
  display: flex;
  justify-content: space-evenly;
}

.have-you-tried-card {
  display: flex;
  flex-direction: column;
}

.have-you-tried-card p {
  padding-top: 10px;
  text-align: center;
  font-weight: 600;
}

.have-you-tried-card i {
  font-size: 49px;
  background-color: #ffdb5c;
  /* padding: 20px; */
  border-radius: 50px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #1b1a55;
  margin-top: 40px;
}

@media (max-width: 475px) {
  .have-you-tried-card i {
    font-size: 29px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-top: 20px;
  }
  .have-you-tried-card p {
    font-size: 12px;
  }
}

#apply-credit-card {
  padding: 6vw 4vw 0 4vw;
}

#apply-credit-card h3 {
  font-weight: 600;
  text-align: center;
}

.apply-credit-card-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 0.75rem;
  margin-top: 15px;
  justify-items: center;
}

.apply-credit-card-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 5px solid #f0ebe3;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}
.apply-credit-card-card img {
  width: 300px;
}

.apply-credit-card-details {
  text-align: start;
  padding: 10px;
}
.apply-credit-card-details p {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 12px;
}
.apply-credit-card-details a {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  color: white;
  background-color: #1b1a55;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
}

#top-picks-of-the-day h3 {
  font-weight: 600;
  text-align: center;
}

/* MOBILES PAGE */

/* FILTERS SECTION */

.filter-section {
  display: block;
}

#toggleFilterBtn {
  display: none;
}
@media screen and (max-width: 768px) {
  #prod {
    margin-top: 90px;
  }
  .filter-section {
    display: none;
  }
  #prod .filter-section {
    margin-top: 67px;
    overflow-y: auto;
    height: 848vh;
  }
  .filter-section.hidden {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
  }
  #toggleFilterBtn {
    position: relative;
    right: 0;
    left: 20px;
    top: 20px;
    /* bottom: 10px; */
    margin-bottom: 20px;
  }

  #toggleFilterBtn {
    display: block;
    border: none;
    padding: 10px;
    font-weight: 600;
    background-color: #535c91;
    color: white;
  }
}

#prod {
  margin-top: 66px;
}

#prod h3 {
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
  color: #070f2b;
}

#prod .products-section {
  display: flex;
  flex-wrap: wrap;
}
#prod .filter-section {
  padding-left: 40px;
  padding-right: 40px;
  width: 300px;
  background-color: white;
  height: fit-content;
  padding-bottom: 100px;
}

.filter-card {
  padding: 20px 0;
  white-space: nowrap;
}

.filter-card label,
option,
select {
  color: #1b1a55;
  font-weight: 600;
  font-size: 18px;
}

.filter-card label {
  margin-left: 5px;
  white-space: nowrap;
}

.filter-card select {
  width: 100%;
}

#mobiles-section {
  flex: 1;
}

/* MOBILES SECTION */

#mobiles-section h3 {
  font-weight: 600;
  text-align: start;
  font-size: 32px;
  padding: 20px;
  color: #070f2b;
}

.mobiles-section-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mobiles-section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 353px;
  width: 320px;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.mobiles-section-card:hover {
  transform: scale(1.05);
}

.mobiles-section-card img {
  width: 250px;
  height: 200px;
  object-fit: contain;
  object-position: bottom;
}

.mobiles-section-card-details {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.mobiles-section-card-details a {
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: #9290c3;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 8px;
}

.mobiles-section-card-details p {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0px;
  padding-top: 5px;
  margin: 0px;
}

/* PAGINATION */

.page-item {
  color: #1b1a55;
}

.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 80px;
}

.pagination a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  background-color: #1b1a55;
}

.pagination a.prev,
.pagination a.next {
  background-color: #9290c3;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination a.prev:hover,
.pagination a.next:hover {
  background-color: #1b1a55;
}

.pagination a.page {
  margin: 0 5px;
}

.pagination a.active {
  background-color: #1b1a55;
  color: #fff;
}

.pagination a.active:hover {
  background-color: #9290c3;
}

/* TABLETS SECTION */

.filter-section {
  display: block;
}

#toggleFilterBtn {
  display: none;
}
@media screen and (max-width: 768px) {
  #prod {
    margin-top: 90px;
  }
  .filter-section {
    display: none;
  }
  #prod .filter-section {
    margin-top: 67px;
    overflow-y: auto;
    height: 848vh;
  }
  .filter-section.hidden {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
  }
  #toggleFilterBtn {
    position: relative;
    right: 0;
    left: 20px;
    top: 20px;
    /* bottom: 10px; */
    margin-bottom: 20px;
  }

  #toggleFilterBtn {
    display: block;
    border: none;
    padding: 10px;
    font-weight: 600;
    background-color: #535c91;
    color: white;
  }
}

#prod {
  margin-top: 66px;
}

#prod h3 {
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
  color: #070f2b;
}

#prod .products-section {
  display: flex;
  flex-wrap: wrap;
}
#prod .filter-section {
  padding-left: 40px;
  padding-right: 40px;
  width: 300px;
  background-color: white;
  height: fit-content;
  padding-bottom: 100px;
}

.filter-card {
  padding: 20px 0;
  white-space: nowrap;
}

.filter-card label,
option,
select {
  color: #1b1a55;
  font-weight: 600;
  font-size: 18px;
}

.filter-card label {
  margin-left: 5px;
  white-space: nowrap;
}

.filter-card select {
  width: 100%;
}

#tablets-section {
  flex: 1;
}

/* tablets SECTION */

#tablets-section h3 {
  font-weight: 600;
  text-align: start;
  font-size: 32px;
  padding: 20px;
  color: #070f2b;
}

.tablets-section-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tablets-section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 353px;
  width: 320px;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.tablets-section-card:hover {
  transform: scale(1.05);
}

.tablets-section-card img {
  width: 250px;
  height: 200px;
  object-fit: contain;
  object-position: bottom;
}

.tablets-section-card-details {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.tablets-section-card-details a {
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: #9290c3;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 8px;
}

.tablets-section-card-details p {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0px;
  padding-top: 5px;
  margin: 0px;
}

/* PAGINATION */

.page-item {
  color: #1b1a55;
}

.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 80px;
}

.pagination a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  background-color: #1b1a55;
}

.pagination a.prev,
.pagination a.next {
  background-color: #9290c3;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination a.prev:hover,
.pagination a.next:hover {
  background-color: #1b1a55;
}

.pagination a.page {
  margin: 0 5px;
}

.pagination a.active {
  background-color: #1b1a55;
  color: #fff;
}

.pagination a.active:hover {
  background-color: #9290c3;
}

/* LAPTOPS SECTION */

.filter-section {
  display: block;
}

#toggleFilterBtn {
  display: none;
}
@media screen and (max-width: 768px) {
  #prod {
    margin-top: 90px;
  }
  .filter-section {
    display: none;
  }
  #prod .filter-section {
    margin-top: 67px;
    overflow-y: auto;
    height: 848vh;
  }
  .filter-section.hidden {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
  }
  #toggleFilterBtn {
    position: relative;
    right: 0;
    left: 20px;
    top: 20px;
    /* bottom: 10px; */
    margin-bottom: 20px;
  }

  #toggleFilterBtn {
    display: block;
    border: none;
    padding: 10px;
    font-weight: 600;
    background-color: #535c91;
    color: white;
  }
}

#prod {
  margin-top: 66px;
}

#prod h3 {
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
  color: #070f2b;
}

#prod .products-section {
  display: flex;
  flex-wrap: wrap;
}
#prod .filter-section {
  padding-left: 40px;
  padding-right: 40px;
  width: 300px;
  background-color: white;
  height: fit-content;
  padding-bottom: 100px;
}

.filter-card {
  padding: 20px 0;
  white-space: nowrap;
}

.filter-card label,
option,
select {
  color: #1b1a55;
  font-weight: 600;
  font-size: 18px;
}

.filter-card label {
  margin-left: 5px;
  white-space: nowrap;
}

.filter-card select {
  width: 100%;
}

#laptops-section {
  flex: 1;
}

/* tablets SECTION */

#laptops-section h3 {
  font-weight: 600;
  text-align: start;
  font-size: 32px;
  padding: 20px;
  color: #070f2b;
}

.laptops-section-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.laptops-section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 353px;
  width: 320px;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.laptops-section-card:hover {
  transform: scale(1.05);
}

.laptops-section-card img {
  width: 250px;
  height: 200px;
  object-fit: contain;
  object-position: bottom;
}

.laptops-section-card-details {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.laptops-section-card-details a {
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: #9290c3;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 8px;
}

.laptops-section-card-details p {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0px;
  padding-top: 5px;
  margin: 0px;
}

/* PAGINATION */

.page-item {
  color: #1b1a55;
}

.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 80px;
}

.pagination a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  background-color: #1b1a55;
}

.pagination a.prev,
.pagination a.next {
  background-color: #9290c3;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination a.prev:hover,
.pagination a.next:hover {
  background-color: #1b1a55;
}

.pagination a.page {
  margin: 0 5px;
}

.pagination a.active {
  background-color: #1b1a55;
  color: #fff;
}

.pagination a.active:hover {
  background-color: #9290c3;
}

/* SMART WATCHES */

.filter-section {
  display: block;
}

#toggleFilterBtn {
  display: none;
}
@media screen and (max-width: 768px) {
  #prod {
    margin-top: 90px;
  }
  .filter-section {
    display: none;
  }
  #prod .filter-section {
    margin-top: 67px;
    overflow-y: auto;
    height: 848vh;
  }
  .filter-section.hidden {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
  }
  #toggleFilterBtn {
    position: relative;
    right: 0;
    left: 20px;
    top: 20px;
    /* bottom: 10px; */
    margin-bottom: 20px;
  }

  #toggleFilterBtn {
    display: block;
    border: none;
    padding: 10px;
    font-weight: 600;
    background-color: #535c91;
    color: white;
  }
}

#prod {
  margin-top: 66px;
}

#prod h3 {
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
  color: #070f2b;
}

#prod .products-section {
  display: flex;
  flex-wrap: wrap;
}
#prod .filter-section {
  padding-left: 40px;
  padding-right: 40px;
  width: 300px;
  background-color: white;
  height: fit-content;
  padding-bottom: 100px;
}

.filter-card {
  padding: 20px 0;
  white-space: nowrap;
}

.filter-card label,
option,
select {
  color: #1b1a55;
  font-weight: 600;
  font-size: 18px;
}

.filter-card label {
  margin-left: 5px;
  white-space: nowrap;
}

.filter-card select {
  width: 100%;
}

#watches-section {
  flex: 1;
}

/* watches SECTION */

#watches-section h3 {
  font-weight: 600;
  text-align: start;
  font-size: 32px;
  padding: 20px;
  color: #070f2b;
}

.watches-section-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.watches-section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 353px;
  width: 320px;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.watches-section-card:hover {
  transform: scale(1.05);
}

.watches-section-card img {
  width: 250px;
  height: 200px;
  object-fit: contain;
  object-position: bottom;
}

.watches-section-card-details {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.watches-section-card-details a {
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: #9290c3;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 8px;
}

.watches-section-card-details p {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0px;
  padding-top: 5px;
  margin: 0px;
}

/* PAGINATION */

.page-item {
  color: #1b1a55;
}

.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 80px;
}

.pagination a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  background-color: #1b1a55;
}

.pagination a.prev,
.pagination a.next {
  background-color: #9290c3;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination a.prev:hover,
.pagination a.next:hover {
  background-color: #1b1a55;
}

.pagination a.page {
  margin: 0 5px;
}

.pagination a.active {
  background-color: #1b1a55;
  color: #fff;
}

.pagination a.active:hover {
  background-color: #9290c3;
}

/* HEADPHONES SECTION */

.filter-section {
  display: block;
}

#toggleFilterBtn {
  display: none;
}
@media screen and (max-width: 768px) {
  #prod {
    margin-top: 90px;
  }
  .filter-section {
    display: none;
  }
  #prod .filter-section {
    margin-top: 67px;
    overflow-y: auto;
    height: 848vh;
  }
  .filter-section.hidden {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
  }
  #toggleFilterBtn {
    position: relative;
    right: 0;
    left: 20px;
    top: 20px;
    /* bottom: 10px; */
    margin-bottom: 20px;
  }

  #toggleFilterBtn {
    display: block;
    border: none;
    padding: 10px;
    font-weight: 600;
    background-color: #535c91;
    color: white;
  }
}

#prod {
  margin-top: 66px;
}

#prod h3 {
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
  color: #070f2b;
}

#prod .products-section {
  display: flex;
  flex-wrap: wrap;
}
#prod .filter-section {
  padding-left: 40px;
  padding-right: 40px;
  width: 300px;
  background-color: white;
  height: fit-content;
  padding-bottom: 100px;
}

.filter-card {
  padding: 20px 0;
  white-space: nowrap;
}

.filter-card label,
option,
select {
  color: #1b1a55;
  font-weight: 600;
  font-size: 18px;
}

.filter-card label {
  margin-left: 5px;
  white-space: nowrap;
}

.filter-card select {
  width: 100%;
}

#headphones-section {
  flex: 1;
}

/* Headphones SECTION */

#headphones-section h3 {
  font-weight: 600;
  text-align: start;
  font-size: 32px;
  padding: 20px;
  color: #070f2b;
}

.headphones-section-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.headphones-section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 353px;
  width: 320px;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.headphones-section-card:hover {
  transform: scale(1.05);
}

.headphones-section-card img {
  width: 250px;
  height: 200px;
  object-fit: contain;
  object-position: bottom;
}

.headphones-section-card-details {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.headphones-section-card-details a {
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: #9290c3;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 8px;
}

.headphones-section-card-details p {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0px;
  padding-top: 5px;
  margin: 0px;
}

/* PAGINATION */

.page-item {
  color: #1b1a55;
}

.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 80px;
}

.pagination a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  background-color: #1b1a55;
}

.pagination a.prev,
.pagination a.next {
  background-color: #9290c3;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination a.prev:hover,
.pagination a.next:hover {
  background-color: #1b1a55;
}

.pagination a.page {
  margin: 0 5px;
}

.pagination a.active {
  background-color: #1b1a55;
  color: #fff;
}

.pagination a.active:hover {
  background-color: #9290c3;
}

/* SPEAKERS SECTION */

.filter-section {
  display: block;
}

#toggleFilterBtn {
  display: none;
}
@media screen and (max-width: 768px) {
  #prod {
    margin-top: 90px;
  }
  .filter-section {
    display: none;
  }
  #prod .filter-section {
    margin-top: 67px;
    overflow-y: auto;
    height: 848vh;
  }
  .filter-section.hidden {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: white;
    z-index: 999;
  }
  #toggleFilterBtn {
    position: relative;
    right: 0;
    left: 20px;
    top: 20px;
    /* bottom: 10px; */
    margin-bottom: 20px;
  }

  #toggleFilterBtn {
    display: block;
    border: none;
    padding: 10px;
    font-weight: 600;
    background-color: #535c91;
    color: white;
  }
}

#prod {
  margin-top: 66px;
}

#prod h3 {
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
  color: #070f2b;
}

#prod .products-section {
  display: flex;
  flex-wrap: wrap;
}
#prod .filter-section {
  padding-left: 40px;
  padding-right: 40px;
  width: 300px;
  background-color: white;
  height: fit-content;
  padding-bottom: 100px;
}

.filter-card {
  padding: 20px 0;
  white-space: nowrap;
}

.filter-card label,
option,
select {
  color: #1b1a55;
  font-weight: 600;
  font-size: 18px;
}

.filter-card label {
  margin-left: 5px;
  white-space: nowrap;
}

.filter-card select {
  width: 100%;
}

#speakers-section {
  flex: 1;
}

/* Speakers SECTION */

#speakers-section h3 {
  font-weight: 600;
  text-align: start;
  font-size: 32px;
  padding: 20px;
  color: #070f2b;
}

.speakers-section-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.speakers-section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 353px;
  width: 320px;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.speakers-section-card:hover {
  transform: scale(1.05);
}

.speakers-section-card img {
  width: 250px;
  height: 200px;
  object-fit: contain;
  object-position: bottom;
}

.speakers-section-card-details {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.speakers-section-card-details a {
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: #9290c3;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 8px;
}

.speakers-section-card-details p {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0px;
  padding-top: 5px;
  margin: 0px;
}

/* PAGINATION */

.page-item {
  color: #1b1a55;
}

.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 80px;
}

.pagination a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  background-color: #1b1a55;
}

.pagination a.prev,
.pagination a.next {
  background-color: #9290c3;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination a.prev:hover,
.pagination a.next:hover {
  background-color: #1b1a55;
}

.pagination a.page {
  margin: 0 5px;
}

.pagination a.active {
  background-color: #1b1a55;
  color: #fff;
}

.pagination a.active:hover {
  background-color: #9290c3;
}

#blogs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8vw;
}
#blog-banner .blog-page img {
  margin-top: 60px;
  width: 100%;
}
#blogs .blogs-row {
  width: 70%;
  border-radius: 10px;
}

#blogs .blog-post h3 {
  color: #282c2e;
  padding: 15px 0 10px 0;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
}

#blogs .blog-post {
  padding-bottom: 50px;
}

#blogs .blog-post p {
  margin-top: 0px;
  color: #757573;
  padding-bottom: 20px;
}
#blogs .blog-post a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: #1b1a55;
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

#blogs .blog-post img {
  width: 100%;
  border-radius: 20px;
}

@media (max-width: 768px) {
  #blogs {
    padding: 8vw 4vw;
  }

  #blogs .blog-post {
    width: 100%;
    margin-top: 50px;
  }

  #blogs .blog-post img {
    height: 20vh;
    object-fit: cover;
  }
  #blogs .blog-post p {
    text-align: justify;
  }
}

#contact {
  padding: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 60px;
}

#contact-banner img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  position: relative;
  top: 59px;
}

#contact .getin-box {
  width: 350px;
}

#contact .getin-box h2 {
  color: #2c234d;
  font-size: 30px;
  font-weight: 800;
  line-height: 0.8;
  margin-bottom: 16px;
}

#contact .getin-box p {
  color: #686875;
  line-height: 24px;
  margin-bottom: 16px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e5e4ed;
}

#contact .getin-box h3 {
  color: #2c234d;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 0px;
}

#contact .getin-box .getin-details div {
  display: flex;
  margin-top: 10px;
}

#contact .getin-details div .get {
  font-size: 16px;
  line-height: 22px;
  color: #9290c3;
  margin-right: 20px;
}

#contact .getin-details div p {
  font-size: 14px;
  border-bottom: none;
  line-height: 22px;
  margin-bottom: 22px;
  margin-top: 0px;
}

#contact .getin-details .social-links i {
  margin-right: 8px;
  font-size: 12px;
}

#contact .form {
  width: 60%;
  background-color: #f7f6fa;
  padding: 40px;
  border-radius: 10px;
}

#contact .form h4 {
  font-size: 24px;
  color: #2c234d;
  line-height: 30px;
  margin-bottom: 8px;
}

#contact .form p {
  color: #535c91;
  line-height: 24px;
  padding-bottom: 22px;
}

#contact .form .form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#contact .form .form-row input {
  width: 48%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: white;
  color: #7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
}

#contact .form .form-col input,
#contact .form .form-col textarea {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: white;
  color: #7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
}

#contact .form button {
  font-size: 0.9rem;
  padding: 13px 25px;
  background-color: #1b1a55;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: white;
  font-family: "Lato", sans-serif;
}

#contact .social-links i {
  padding: 5px 6px;
  margin-right: 10px;
  border: 1px solid #9290c3;
  cursor: pointer;
  font-size: 12px;
}

#map {
  width: 100%;
  height: 70vh;
  margin-bottom: 8vw;
}

#map iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 475px) {
  #contact {
    padding: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }

  #contact .form {
    width: 100%;
    padding: 40px 30px;
    border-radius: 10px;
    margin-top: 20px;
  }
  #contact .getin-box {
    width: 250px;
  }
}

#registration {
  padding: 6vw 8vw 8vw 8vw;
  /* background-image: linear-gradient(#9290c3, white); */
  background-image: url("Images/login-page-banner 2.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
#registration .form {
  background: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0 8px 32px 0 #2c234d;
  width: 40%;
}

#registration .form input {
  margin: 15px 0;
  padding: 15px 10px;
  border: 1px solid #1b1a55;
  outline: none;
}

#registration .registration-header-info {
  margin-right: 30px;
}

#registration .registration-header-info h1 {
  font-size: 36px;
  font-weight: 600;
  color: white;
}

#registration .registration-header-info p {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

#registration .form h3 {
  font-weight: 600;
  color: white;
}

#registration .btn {
  margin-top: 20px;
}

#registration .btn .submit-btn {
  background-color: #1b1a55;
  color: white;
  transition: 0.3s ease;
  text-decoration: none;
  padding: 13px 35px;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.3s ease;
}

#registration a.learnMore {
  background-color: rgb(41 171 135);
  background: rgb(41 171 135);
}

#registration a.learnMore:hover {
  color: rgb(41 171 135);
  background: white;
}

@media (max-width: 769px) {
  #registration {
    margin-top: 8vw;
    padding: 6vw 4vw 6vw 4vw;
  }
}
@media (max-width: 475px) {
  #registration {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
  }

  #registration .reminder {
    margin-left: 0px;
  }

  #registration .form {
    width: 80%;
  }

  #registration .reminder .time .date {
    font-size: 0.8rem;
  }
}

/* CART  */
/* #cart {
  padding: 8vw 6vw;
  margin-top: 60px;
} */

#cart {
  padding: 6vw 6vw;
}
.cart-page {
  margin: 80px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

th {
  text-align: left;
  padding: 5px;
  color: white;
  background: #1b1a55;
  font-weight: 600;
}

td {
  padding: 10px 5px;
  font-weight: 600;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: #ff523b;
  font-size: 12px;
  text-decoration: none;
  font-weight: 600;
}
td img {
  height: 90px;
  margin-right: 30px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #1b1a55;
  width: 100%;
  max-width: 484px;
}
td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}

@media (max-width: 475px) {
  .cart-info p {
    font-size: 14px;
    padding-top: 8px;
    margin-bottom: 0px;
  }
  td {
    font-size: 12px;
    font-weight: 600;
  }

  th {
    font-size: 15px;
  }
}

/* USER ACCOUNT */

#user-account {
  padding: 8vw 4vw;
}
.user-account-container {
  display: flex;
  align-items: center;
}
.user-account-recent-col {
  background-color: white;
  width: 100%;
  max-width: 900px;
  margin-left: 100px;
  padding: 3vw 4vw;
}
.user-account-col {
  text-align: left;
}
.user-account-col li {
  list-style-type: none;
  padding: 18px 0px;
  font-weight: 600;
}

.user-account-col h3 {
  font-weight: 600;
}

.user-account-col p {
  font-weight: 600;
}

.recent-order-info h3 {
  font-weight: 600;
  margin-bottom: 20px;
}
.arrive-date {
  margin-top: 30px;
}
.arrive-date h3 {
  color: #39b329;
  font-size: 32px;
}
.arrive-date a {
  padding: 10px;
  background-color: #1b1a55;
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.arrive-date span {
  color: blue;
  margin-left: 5px;
  font-weight: 600;
}
.ordered-item {
  margin-top: 60px;
}
.ordered-item img {
  width: 10%;
}
.ordered-item p {
  margin-bottom: 5px;
}

@media (max-width: 475px) {
  .user-account-container {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin-top: 60px;
    justify-content: center;
  }
  .user-account-recent-col {
    background-color: white;
    width: 350px;
    max-width: 900px;
    margin: 0px;
    padding: 3vw 4vw;
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
  }
  .user-account-col ul {
    padding-left: 0px;
  }
}
